{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <h2>Authentification</h2>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    <div class="card-title text-center"><h4>Connexion</h4></div>
                    <hr>
                    {% if error_login is defined and error_login is not null %}
                        <div class="alert alert-danger">
                            {{ error_login.messageKey | trans(error_login.messagedata, 'security') }}
                        </div>
                    {% endif %}
                    <form action="{{ path('login') }}" method="post">
                        <div class="form-group">
                            <label for="username">Nom d'utilisateur</label>
                            <input type="text" id="username" name="_username" class="form-control" value="{% if last_username is defined %}{{ last_username }}{% endif %}">
                        </div>
                        <div class="form-group">
                            <label for="password">Mot de passe</label>
                            <input type="password" id="password" name="_password" class="form-control">
                        </div>
                        <div class="form-group text-center">
                            <button type="submit" class="btn btn-primary">Se Connecter</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    <div class="card-title text-center"><h4>Inscription</h4></div>
                    <hr>
                    {{ form_start(form_registration) }}

                    {{ form_widget(form_registration) }}

                    <div class="form-group text-center">
                        <button type="submit" class="btn btn-success">Inscription</button>
                    </div>
                    {{ form_end(form_registration) }}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
