    {% extends 'base.html.twig' %}

    {% block body %}
        <h2>Inscription réussie !</h2>
        <hr>
        <div class="alert alert-success">
            <p>Vous vous êtes correctement inscrit {{ user.username }} !<br> Vous allez à présent recevoir un mail de confirmation d'inscription afin de clôturer cette dernière et pouvoir commencer à interragir avec Tournament.</p>
            <p class="text-right">Tournament vous remercie !</p>
        </div>
    {% endblock %}