hr{
    border: 1px outset lightgrey;
}

body { padding-top: 100px; }

.nav-link>.fa{
    margin-right: 5px;
}

#mainLogo{
    height: 35px;
}

.border-right-default{
    border-right: 1px solid #444444;
}

.border-left-default{
    border-right: 1px solid #444444;
}

.categoryImg{
    max-width: 350px;
    max-height: 100px;
    height: auto;
    width: auto;
    border: 1px solid lightgrey;
}

.top-20{
    margin-top: 20px;
}

.center-block{
    float: none;
    margin: 0 auto;
}

.card{
    margin-bottom: 20px;
}

ol.craue_formflow_steplist {
    list-style-type: circle !important;
}
ol.craue_formflow_steplist li {
    display: inline;
    text-align: center;
    padding: 15px ;
}

li.craue_formflow_current_step{
    color: #009670;
    font-weight: bold;
}

li.craue_formflow_done_step{
    color: grey;
}

.btn-super-category{
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center
}


