<div class="row">
    <div class="col-12">
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="nav-link admin_dashboard" href="{{ path('admin') }}"><i class="fa fa-tachometer-alt"></i> Tableau de bord</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-trophy"></i> Tournois </a>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="{{ path('admin_categories') }}">Gestion des catégories</a>
                    <a class="dropdown-item" href="#">Historique</a>
                </div>
            </li>
            {% if is_granted('ROLE_SUPER_ADMIN') %}
            <li class="nav-item">
                <a class="nav-link admin_super_admin" href="{{ path('admin_users') }}"><i class="fa fa-user"></i> Utilisateurs</a>
            </li>
            {% endif %}
        </ul>
    </div>
</div>