{% extends 'base.html.twig' %}

{% block body %}
    {{ include('admin/_menu.html.twig') }}
    <div class="row top-20">
        <div class="col-4">
            <div class="card">
                <div class="card-body table-responsive">

                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
     {{ parent() }}
    <script>
        $('.admin_dashboard').addClass('active');
    </script>
{% endblock %}