{% extends 'base.html.twig' %}

{% block body %}
    {{ include('admin/_menu.html.twig') }}
    <div class="row top-20">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    {{ form_start(form) }}
                    <div class="col-12">
                        <div class="row">
                            <div class="col-5">
                                {{ form_row(form.role) }}
                            </div>
                            <div class="col-5">
                                {{ form_row(form.isActive) }}
                            </div>
                            <div class="col-2">
                                <button class="btn btn-primary"><i class="fa fa-search"></i></button>
                            </div>
                        </div>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
            <div class="card">
                <div class="card-body table-responsive">
                    <div class="card-title text-center"><h4>Utilisateurs</h4></div>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Pseudo</th>
                            <th>Email</th>
                            <th>Date d'inscription</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for user in users %}
                                <tr {% if user.hasRole('ROLE_ADMIN') %} class="text-danger"{% endif %}>
                                    <td>
                                        {{ user.username }}
                                    </td>
                                    <td>{{ user.email }}</td>
                                    <td>{{ user.createdAt | date('d/m/Y à H:i') }}</td>
                                    <td>
                                        {% if user.hasRole('ROLE_ADMIN') == false %}
                                            <a title="Éditer" class="btn btn-sm btn-secondary" ><i class="fa fa-edit"></i></a>
                                            {% if user.isActive == 1 %}
                                                <a title="Bloquer" class="btn btn-sm btn-secondary" ><i class="fa fa-lock"></i></a>
                                            {% else %}
                                                <a title="Débloquer" class="btn btn-sm btn-secondary" ><i class="fa fa-lock-open"></i></a>
                                            {% endif %}
                                                <a title="Promouvoir Admin" class="btn btn-sm btn-secondary" ><i class="fa fa-star"></i></a>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <div class="pagination">
                        <div class="center-block">
                            {{ knp_pagination_render(users) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
     {{ parent() }}
    <script>
        $('.admin_users').addClass('active');
    </script>
{% endblock %}