<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-3 text-right">
                Étapes
            </div>
            <div class="col-md-9">
                {% include '@CraueFormFlow/FormFlow/stepList.html.twig' %}
            </div>
        </div>
        {{ form_start(form) }}
        {{ form_errors(form) }}

        {{ form_rest(form) }}

        {% include '@CraueFormFlow/FormFlow/buttons.html.twig'  with {
            craue_formflow_button_class_last: 'btn btn-success',
            craue_formflow_button_class_back: 'btn btn-secondary',
            craue_formflow_button_render_reset: false
        } %}
        {{ form_end(form) }}
    </div>
</div>

{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" type="text/javascript"></script>
    <script src="{{ asset('js/tournament/tournamentForm.js') }}" type="text/javascript"></script>
{% endblock %}