{% extends 'base.html.twig' %}

{% block body %}
    <h2>Création d'un tournoi</h2>
    <hr>
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h4>Type de tournoi</h4>
                    <hr>
                </div>
            </div>
            <div class="row">
                {% for superCategory in superCategories %}
                    <div class="col-md-4 center-block text-center">
                        <b>{{ superCategory.title }}</b>
                        <div class="card">
                            <a class="btn btn-primary btn-lg btn-super-category text-right" style="background-image: url('{{ superCategory.Image }}');" href="{{ path('tournament_create_code', {'code' : superCategory.Code}) }}">
                                <br>
                                <i class="fa fa-hand-point-up"></i><br>
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}