{% extends 'base.html.twig' %}

{% block body %}
    <h2>Édition d'un tournoi</h2>
    <hr>
    {{ include('tournament/_tournamentForm.html.twig', {form: form, button: 'Éditer le tournoi'}) }}
{% endblock %}