{% extends 'base.html.twig' %}

{% block body %}
    <h1>Bienvenue dans Tournament</h1>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aliquid atque, eum molestiae numquam quibusdam quis rerum unde voluptas voluptatem. Accusamus aliquam at aut cupiditate dignissimos dolores, eos fuga fugiat inventore ipsa iste iure maiores molestiae molestias nihil nulla provident.</p>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus adipisci aspernatur autem consectetur distinctio dolore dolorem ea expedita explicabo facilis fuga impedit iste magnam maiores minima molestiae mollitia nesciunt, optio, quo ratione repellendus rerum sapiente similique sint unde, veniam vero!</p>
{% endblock %}