{% extends 'base.html.twig' %}

{% block body %}
    <div class="card">
        <div class="card-header">
            <h2>{{ tournament.title }}</h2>
        </div>
        <div class="card-body">
            {% for message in app.flashes('success') %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {%  endfor %}
            <div class="row">
                <div class="col-6 border-right-default">
                    <div class="alert alert-info">
                        Par <b>{{ tournament.user.username }}</b> le {{ tournament.createdAt | date('d/m/Y')}}
                    </div>
                    <div class="text-center">
                        <h5>{{ tournament.category.title }}</h5>
                        <div class="container">
                            <img src="{{ tournament.category.image }}" class="categoryImg" alt="categorie">
                        </div>
                    </div>
                    <p>
                        <b>Etat:</b>
                        {% if tournament.state == 1 %}
                            Ouvert
                        {% else %}
                            Fermé
                        {% endif %}
                    </p>
                    <p>
                        <b>Informations</b>
                    <ul>
                        {% if tournament.public == true %}
                            <li>Public</li>
                        {% else %}
                            <li>Privé</li>
                        {% endif %}
                        {% if tournament.team == true %}
                            <li>Tournoi en équipes de {{ tournament.teamMinSize }}</li>
                        {% else %}
                            <li>Tournoi en solo</li>
                        {% endif %}
                        <li>{{ tournament.size }} participants</li>
                        <li>Débute le dd/mm/YY</li>
                    </ul>
                    </p>
                </div>
                <div class="col-6">
                    <p>
                        <b>Description :</b>
                        <p>
                            {{ tournament.description }}
                        </p>
                    </p>
                </div>
            </div>
        </div>
        <div class="card-footer text-center">
            <a class="btn btn-primary" href="">S'inscrire</a>
            {% if app.user == tournament.user %}
                <a class="btn btn-primary" href="{{ path('tournament_edit', {'id' : tournament.id}) }}">Editer</a>
                <form method="post" action="{{ path('tournament_delete', {id: tournament.id}) }}" style="display:inline-block" onsubmit="return confirm('Voulez-vous vraiment supprimer ce tournoi?');">
                    <input type="hidden" name="_method" value="DELETE">
                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ tournament.id) }}">
                    <button class="btn btn-danger">Supprimer</button>
                </form>
            {% endif %}
            </section>
        </div>
    </div>
{% endblock %}