{% extends 'base.html.twig' %}

{% block body %}
    <h2>Liste des Tournois publics</h2>
    <hr>
    {% for message in app.flashes('success') %}
    <div class="alert alert-success">
        {{ message }}
    </div>
    {%  endfor %}
    {% for message in app.flashes('error') %}
    <div class="alert alert-danger">
        {{ message }}
    </div>
    {%  endfor %}
    <div class="row">
        {%  for tournament in tournaments %}
            <div class="tournament col-md-3">
                <div class="card">
                    <img class="card-img-top" src="{{ tournament.category.image }}" alt="categorie">
                    <div class="card-body">
                        <div class="card-title text-center"><h5><a href="{{ path('tournament', {'id' : tournament.id}) }}">{{ tournament.title }}</a></h5></div>
                        <b>{{ tournament.category.title }}</b>
                        <p>Créé le {{ tournament.createdAt | date('d/m/Y')}} à {{ tournament.createdAt | date('H:i')}} par {{ tournament.user.username }}</p>
                        <p>
                            <b>Etat:</b>
                            {% if tournament.state == 1 %}
                                Ouvert
                            {% else %}
                                Fermé
                            {% endif %}
                        </p>
                        <p>
                            <b>Informations</b>
                        <ul>
                            <li>Équipes de {{ tournament.teamMinSize }} personnes</li>
                            <li>{{ tournament.size }} équipes</li>
                            <li>Débute le dd/mm/YY</li>
                        </ul>
                        </p>
                    </div>
                    <div class="card-footer text-center">
                        <a href="{{ path('tournament', {'id' : tournament.id}) }}" class="btn btn-primary">Consulter</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
