<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Tournament{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
            <link rel="stylesheet" href="https://bootswatch.com/4/darkly/bootstrap.min.css">
            <link rel="stylesheet" href="{{ asset('css/style.css') }}">
            <link rel="icon" href="{{ asset('images/logo.png') }}" />
        {% endblock %}
    </head>
    <body>
        <div class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
            <div class="container">
                <a class="navbar-brand" href="{{ path('home') }}"><img src="{{ asset('images/logo.png') }}" id="mainLogo"> Tournament</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarColor02">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('tournaments') }}"><i class="fa fa-trophy"></i> Tournois</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('tournament_create') }}"><i class="fa fa-plus"></i> Créer un Tournoi</a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav ml-auto">
                        {% if app.user %}
                            <li class="nav-item">
                                <a class="nav-link" href="#"><i class="fa fa-trophy"></i> Mes Tournois</a>
                            </li>
                            {% if is_granted('ROLE_ADMIN') %}
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ path('admin') }}"><i class="fa fa-tachometer-alt"></i> Administration</a>
                                </li>
                            {% endif %}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-user"></i>  {{ app.user.username }} </a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" href="#">Mon Profil</a>
                                    <a class="dropdown-item" href="{{ path('logout') }}">Se déconnecter</a>
                                </div>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('login') }}"><i class="fa fa-user"></i> S'identifier</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="container">
            {% block body %}{% endblock %}
        </div>
        {% block javascripts %}
            <script src="https://code.jquery.com/jquery-3.3.1.min.js" type="text/javascript"></script>
            <script src="https://unpkg.com/popper.js@1.14.6/dist/umd/popper.min.js" type="text/javascript"></script>
            <script src="https://bootswatch.com/_vendor/bootstrap/dist/js/bootstrap.min.js" type="text/javascript"></script>
        {% endblock %}
    </body>
</html>
